#item-section{
    z-index: 4;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 2rem;
}

.item-label{
    margin: 0;
}

.item-text{
    background-color: #bdcbdd;
    border-radius: 0.5rem;
    border: 0 transparent;
    height: 2rem;
    width: 15rem;
    color: white;
    font-size: 1rem;
    color: #2a5a76;
    text-align: center;
}

.item-text:active{
    border: 0 transparent;
}

.item-button{
    color: #2a5a76;
    border: 0.2rem solid #2a5a76;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #bdcbdd;
    cursor: pointer;
}

.item-button:active{
    border-color: #bdcbdd;
    color: #bdcbdd;
    background-color: #2a5a76;
}

.item-star{
    cursor: pointer;
}

#item-favorite, #item-watched, #item-watching, #item-towatch, #item-series, #item-film{
    cursor: pointer;
}

#item-watched, #item-watching, #item-towatch, #item-series, #item-film{
    cursor: pointer;
    opacity: 0.5;
}

#item-series, #item-film{
    background-color: #bdcbdd;
    border-radius: 0.2rem;
}
