#filter-section{
    background-color: #4283a9;
    width:100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-label{
    color:white;
    margin:0
}

.filter-radio{
    cursor: pointer;
    width: 1rem;
    margin: 0 2rem 0 0.5rem;
    cursor: pointer;
}

.filter-text{
    background-color: #6b8ea2;
    border-radius: 0.5rem;
    border: 0 transparent;
    height: 2rem;
    width: 15rem;
    color: white;
    font-size: 1rem;
}

.filter-text:active{
    border: 0 transparent;
}

.filter-button{
    color: #2a5a76;
    border: 0.2rem solid #2a5a76;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #bdcbdd;
    cursor: pointer;
}

.filter-button:active{
    border-color: #bdcbdd;
    color: #bdcbdd;
    background-color: #2a5a76;
}

#filter-favorite,#filter-notfavorite, #filter-watched, #filter-watching, #filter-towatch{
    opacity: 0.5;
    cursor: pointer;
}

#filter-series, #filter-film{
    background-color: #bdcbdd;
    border-radius: 0.2rem;
    opacity: 0.5;
    cursor: pointer;
}

.filter-platform{
    background-color: #bdcbdd;
    border-radius: 0.2rem;
    opacity: 0.5;
    cursor: pointer;
}
